﻿<!doctype html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Content/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="Content/site.css">
</head>
<body>
    <script type="text/ng-template" id="pages/login.html">
        <h1>Login</h1>
        <form ng-submit="login()" ng-controller="LoginController">
            <fieldset>
                <p><label class="field" for="userName">Email</label><input type="text" class="form-input" ng-model="username" required /></p>
                <p><label class="field" for="password">Password</label><input type="password" class="form-input" ng-model="password" required /></p>
                <p><input type="submit" class="btn btn-success btn-block right-70" value="Login" /></p>
            </fieldset>
        </form>
    </script>
    <script type="text/ng-template" id="pages/register.html">
        <h1>Register</h1>
        <form ng-submit="register()" ng-controller="RegisterController">
            <fieldset>
                <p><label class="field" for="userName">Email</label><input type="text" class="form-input" ng-model="username" required /></p>
                <p><label class="field" for="password">Password</label><input type="password" class="form-input" ng-model="password" required /></p>
                <p><input type="submit" class="btn btn-success btn-block right-70" value="Register" /></p>
            </fieldset>
        </form>
    </script>
    <script type="text/ng-template" id="pages/list.html">
        <h1>list</h1>
        <div>
            <a href="#/list">All</a>
            <a href="#/list/Uncompleted">Outstanding</a>
            <a href="#/list/Completed">Archive</a>
            <div class="float-right"><a href="#/add">New</a></div>
        </div>
        <div ng-controller="ListController" ng-repeat="todo in todos">          
            <div ng-hide="(params.filter == 'Uncompleted' && todo.Completed == true) || todo.Deleted == true" id="{{todo.Id}}" class="todo-item">
                <b>{{todo.Title}}</b>
                <p>{{todo.Description}}</p>
                <div>
                    <button ng-hide="todo.Completed == true" class="btn btn-xs btn-success float-left" ng-click="markAsComplete(todo)">Complete</button>
                    <button class="btn btn-xs btn-danger float-right" ng-click="delete(todo)">Delete</button>
                </div>       
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="pages/add.html">
        <h1>add</h1>
        <form ng-submit="addTodo()" ng-controller="AddController">
            <fieldset>
                <p><label class="field" for="userName">Title</label><input type="text" class="form-input" ng-model="title" required /></p>
                <p><label class="field" for="password">Description</label><input type="text" class="form-input" ng-model="description" /></p>
                <p><input class="btn btn-success btn-block right-70" type="submit" value="Add" /></p>
            </fieldset>
        </form>
    </script>

    <a href="#/login">Login</a>
    <a href="#/register">Register</a>
    
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div ng-view class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

        <script src="app/app.js"></script>
</body>
</html>
