﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label.field {
    text-align: right;
    float: left;
    font-weight: bold;
    width: 30%;
    padding-right: 10px;
}

input.form-input {
    float: left;
    width: 70%;
}

fieldset p {
    clear: both;
    padding: 5px;
}

.right-70 {
    margin-left: 30%;
    width: 70% !important;
    max-width: 280px;
}

.todo-item {
    padding: 10%;
    padding-top: 3%;
    background-color: pink;
    margin: 5%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
